---
title: designs
---

<div class="works-page">

  <div class="works-list">
    <h3 class="works-title">Works</h3>

    <article class="box">
      <div class="container">
        <div class="works-image" style="background-image: url(/images/normal/p2.jpg)"><%= link_to 'down the rabbithole', '/designs/p2.html', :class => 'link' %></div>
      </div>
      <h4 class="works-name">Seeing with Touch</h4>
      <p class="tags">senses, analog augmentation, fabrication</p>
    </article>

    <article class="box">
      <div class="container">
        <div class="works-image" style="background-image: url(/images/normal/dwelling.jpg"><%= link_to 'down the rabbithole', '/designs/dwelling.html', :class => 'link' %></div>
      </div>
      <h4 class="works-name">A Dwelling for the Senses</h4>
      <p class="tags">hand drawing, materiality, brazing</p>
    </article>

    <article class="box">
      <div class="container">
        <div class="works-image" style="background-image: url(/images/normal/ti-1.jpg)"><%= link_to 'down the rabbithole', '/designs/titanium.html', :class => 'link' %></div>
      </div>
      <h4 class="works-name">Titanium Bicycle Table</h4>
      <p class="tags">adaptive reuse</p>
    </article>

    <article class="box">
      <div class="container">
        <div class="works-image" style="background-image: url(/images/normal/furniture-normal/bench-head.jpg"><%= link_to 'down the rabbithole', '/designs/furniture.html', :class => 'link' %></div>
      </div>
      <h4 class="works-name">Custom Furniture</h4>
      <p class="tags">industrial design & fabrication</p>
    </article>

    <article class="box">
      <div class="container">
        <div class="works-image" style="background-image: url(/images/normal/robots.jpg)"><%= link_to 'down the rabbithole', '/designs/robots.html', :class => 'link' %></div>
      </div>
      <h4 class="works-name">Combat Robots</h4>
      <p class="tags">mechanical design, CAD, fabrication</p>
    </article>

  </div>
</div>
