---
title: experiments!
---

<div class="works-page">

  <div class="works-list">
    <h3 class="works-title">experiments</h3>

    <article class="box">
      <div class="container">
        <div class="works-image" style="background-image: url(/images/normal/ar2.gif)"><%= link_to 'down the rabbithole', '/designs/ar15.html', :class => 'link' %></div>
      </div>
      <h4 class="works-name">American Passage</h4>
      <p class="tags">arduino, kinetic storytelling, 3d printing</p>
    </article>

    <article class="box">
      <div class="container">
        <div class="works-image" style="background-image: url(/images/normal/menehune.gif)"><%= link_to 'down the rabbithole', '/designs/pneumatics.html', :class => 'link' %></div>
      </div>
      <h4 class="works-name">Investigations: High Speed Air</h4>
      <p class="tags">mechanical design, CAD, experimentation</p>
    </article>

        <article class="box">
      <div class="container">
        <div class="works-image" style="background-image: url(/images/normal/robots.gif)"><%= link_to 'down the rabbithole', '/designs/robots.html', :class => 'link' %></div>
      </div>
      <h4 class="works-name">Battlebots !</h4>
      <p class="tags">mechanical design, materiality, iteration</p>
    </article>


    <article class="box">
      <div class="container">
        <div class="works-image" style="background-image: url(/images/normal/ti-1.jpg)"><%= link_to 'down the rabbithole', '/designs/titanium.html', :class => 'link' %></div>
      </div>
      <h4 class="works-name">Adaptive Reuse, Bicycle Edition</h4>
      <p class="tags">fabrication, TIG welding</p>
    </article>

    <article class="box">
      <div class="container">
        <div class="works-image" style="background-image: url(/images/normal/parametric.jpg)"><%= link_to 'down the rabbithole', '/designs/parametric.html', :class => 'link' %></div>
      </div>
      <h4 class="works-name">Designing with Parametrics</h4>
      <p class="tags">grasshopper, pedagogical implementation</p>
    </article>

    <article class="box">
      <div class="container">
        <div class="works-image" style="background-image: url(/images/normal/p2-58.jpg)"><%= link_to 'down the rabbithole', '/designs/p2.html', :class => 'link' %></div>
      </div>
      <h4 class="works-name">Seeing with Touch</h4>
      <p class="tags">sensory substitution, analog augmentation</p>
    </article>

  </div>
</div>
