---
title: writing
---
<div class="writing">
	

	<div class="works"> 

		<article class="essays">
			<img src="/images/writing/story.jpg">
			<h3 class="work__title">Narrative Essays.</h3>
			<div class="works-list">
				<% data.essays.each do |essay| %>
					<dl>
						<% link_to "/essays/#{essay[0].split('-')[1]}" do %>
						<dt><%= essay[1].name %></dt>
						<% end %>
						<dd><%= essay[1].tagline %></dd>
						<dd class="line"><%= essay[1].line %></dd>
					</dl>
				<% end %>
			</div>
		</article>



		<article class="stories">
			<img src="/images/writing/narrative.jpg">
			<h3 class="work__title">Short Stories.</h3>
			<div class="works-list">
				<% data.stories.each do |essay| %>
					<dl>
						<% link_to "/essays/#{essay[0].split('-')[1]}" do %>
						<dt><%= essay[1].name %></dt>
						<% end %>
						<dd><%= essay[1].tagline %></dd>
						<dd class="line"><%= essay[1].line %></dd>
					</dl>
				<% end %>
			</div>
		</article>

	</div>
</div>